:root {
  --Lime-Green: #1db489;
  --Bright-Red: #dc414c;
  --Facebook: #198ff5;
  --Twitter: #1ca0f2;
  --Instagram: linear-gradient(to right, #fdc468, #df4996);
  --YouTube: #c4032a;
  /* --Light Theme */
  --toggle: hsl(230, 22%, 74%);
  --bg: hsl(0, 0%, 100%);
  --bg-top: hsl(225, 100%, 98%);
  --bg-card: hsl(227, 47%, 96%);
  --text-1: hsl(228, 12%, 44%);
  --text-2: hsl(230, 17%, 14%);
}
.dark-theme {
  --toggle: linear-gradient(to right, #378fe6, #3eda82);
  --bg: #1e202a;
  --bg-top: hsl(232, 19%, 15%);
  --bg-card: #252a41;
  --text-1: hsl(228, 34%, 66%);
  --text-2: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.font-700 {
  font-weight: 700;
}
body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg);
  padding: 20px 10% 20px;
  color: var(--text-2);
  * {
    z-index: 1;
  }
}
.top {
  z-index: -1;
  width: 100%;
  height: 30vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-top);
  border-radius: 0px 0px 30px 30px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  margin-bottom: 30px;
  p {
    font-size: 14px;
    color: var(--text-1);
    opacity: 0.8;
  }
  .toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .toggle-button {
      background: var(--toggle);
      width: 44px;
      height: 22px;
      border-radius: 30px;
      margin-left: 10px;
      position: relative;
      transition: all 0.5s;
      cursor: pointer;
      &::before {
        transition: all 0.5s;
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2px;
        background-color: var(--bg);
      }
      &.click {
        &::before {
          transform: translate(100%, -50%);
        }
      }
    }
  }
}
aside {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  grid-gap: 15px;
  .card {
    transition: 0.5s;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--bg-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &:hover {
      opacity: 0.7;
    }
    &::before {
      z-index: 10;
      content: "";
      width: 100%;
      height: 4px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 20px 20px 0px 0px;
    }
    .logo {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      margin-top: 10px;
      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      p {
        color: var(--text-1);
        font-size: 14px;
      }
    }
    h1 {
      font-size: 50px;
    }
    > p {
      color: var(--text-1);
      text-transform: uppercase;
      letter-spacing: 2px;
      opacity: 0.8;
      font-size: 14px;
      margin-bottom: 40px;
    }
    .statistique {
      font-size: 12px;
      display: flex;
      align-items: center;
      color: var(--Lime-Green);
      span {
        margin-left: 5px;
      }
    }
    &.youtube {
      &::before {
        background-color: var(--YouTube);
      }
      span {
        color: var(--Bright-Red);
      }
    }
    &.twitter {
      &::before {
        background-color: var(--Twitter);
      }
    }
    &.facebook {
      &::before {
        background-color: var(--Facebook);
      }
    }
    &.instagram {
      &::before {
        background-image: var(--Instagram);
      }
    }
  }
}
main {
  > h1 {
    margin-block: 20px;
  }
  > section {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 130px);
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 20px 10px;
      background-color: var(--bg-card);
      border-radius: 10px;
      div:first-child {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      div:last-child {
        display: flex;
        align-items: center;
        img {
          margin-inline: auto 8px;
          width: 12px;
        }
        p {
          &.up {
            color: var(--Lime-Green);
          }
          &.down {
            color: var(--Bright-Red);
          }
        }
      }
    }
  }
}
